.TDList ul > li {
    margin-bottom: 1rem;
  }
  .TDList {
    position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  }
.ListItem {
  background: #ffffff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.23);
  border-radius: 5px;
  display: flex;
  padding: 1rem;
  width: 850px ;
}
.button{
  margin: 15px;

}
.buttons{
  display: flex;
  max-height: 40px;
  margin: 10px;
  justify-content: flex-end;
}